@media all and (min-width: 375px) and (max-width: 767px) {

    #blocpage {

        width: auto;
        margin: 15px 10px 0 10px;
    }
}


/* HEADERBOX */

@media all and (min-width: 375px) and (max-width: 767px) {

    #headerbox {

        align-items: center;
        margin-top: 20px;
    }

    #headerbox .logo {

        margin-left: 13px;
    }

    #headerbox .logo img {

        padding: 0;
    }

    #headerbox nav {

        order: 2;
        width: 100%;
    }

    #headerbox nav ul {

        width: 100%;
        padding: 0;
    }

    #headerbox nav ul li {

        width: 50%;
        text-align: center;
    }

    #headerbox nav ul li a:active {

        color: #0065FC;
        border-bottom-color: #0065FC;
    }

    #headerbox nav ul li a, #headerbox nav ul li a:hover {

        border: none;
        padding: 23px 0 20px;
        border-bottom: 2px solid #ccc;
    }

    #headerbox .sign-in {

        margin: 25px 0;
    }
}


/* TITRE */

@media all and (min-width: 375px) and (max-width: 767px) {

    #title {

        width: auto;
        margin-left: 13px;
        margin-top: 20px;
    }

    #title h2 {

        margin: 0;
        line-height: 1.2em;
        font-size: 20px;
    }

    #title p {

        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 375px) and (max-width: 767px) {

    #searchbr {

        width: auto;
        margin-left: 13px;
    }

    .searchbtn {

        width: 50px;
        height: 50px;
        margin-left: -10px;
        padding: 0;
        border-radius: 15px;
    }

    .searchbtn span {

        display: none;
    }

    .searchbar .search {

        width: 180px;
        padding-left: 20px;
    }

    .searchbar .fa-search {

        display: flex;
        align-self: center;
        visibility: visible;
        font-size: 20px;
        padding: 0; 
    }

    .searchbar .fa-map-marker-alt {

        width: 25px;
        display: flex;
        justify-content: center;
    }
}

@media all and (min-width: 375px) and (max-width: 767px) {

    #filters {

        width: auto;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin-left: 13px;
    }

    #filters h3 {

        margin-bottom: 10px;
    }

    #filters .texticon {

        width: 290px;
        height: 48px;
        margin: 10px 0px 10px 0px;
        justify-content: flex-start;
        border: 2px solid #ccc
    }

    #filters i {

        margin-left: -2px;
    }
}

@media all and (min-width: 375px) and (max-width: 767px) {

    #info {

        margin: 20px 0px 20px 13px;
    }

    #info .icon {

        display: flex;
        align-items: center;
        min-width: 20px;
        border: 1px solid #ccc;
    }
}

@media all and (min-width: 375px) and (max-width: 767px) {

    #lodging {

        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
    }

    #lodgingbloc {

        background: none;
    }

    #lodgingbloc h2 {

        font-size: 20px;
        margin: 40px 0px 20px 13px;
    }

    .marseilleblc {

        width: auto;
        height: auto;
        background: none;
    }

    .card {

        width: 320px;
    }

    .card img {

        width: 310px;
    }

    .more {

        margin-left: 13px;
        font-size: 20px;
    }    


/* LES PLUS POPULAIRES */

    #mostpopular {

        width: auto;
        height: auto;
        order: -1;
        margin: 0;
        border-radius: 0;
    }

    .blocpopular {

        width: auto;
        height: 580px;
        margin-top: 30px;
    }

    .title {

        display: flex;
        align-items: center;
        margin-top: 40px;
        font-size: 17px;
    }

    .title h2 {

        margin: 0px 0px 0px 13px;
        font-size: 20px;
    }

    .title i {

        margin: 0px 30px 0px 0px;
        font-size: 20px;
    }

    .fullcard {

        margin: 10px 0px 10px 0px;
        width: 320px; 
    }

    .cardbody {

        width: auto;
        flex-wrap: wrap;
    }

    .cardbody h3 {

        padding-left: 10px;
        font-size: 18px;
    }

    .cardimg img {

        width: 115px;
    }

   .cardbody .text {

        padding-left: 10px;
        font-size: 16px;
   }

   .cardbody .mpstars {

        padding-left: 10px;
   }
}


/* ACTIVITIES */

@media all and (min-width: 375px) and (max-width: 767px) {

    .acttitle {

        margin: 40px 0px 20px 13px;
        font-size: 20px;
    }

    .blocactivities {

        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: center;
    }

    .card-activity {

        width: 320px;
        height: 200px;
        margin: 10px 0px 10px 0px;
    }

    .card-activity .act1 {

        width: 320px;
        height: 140px;
    }

    .card-activity .act2 {

        width: 320px;
        height: 140px;
    }

    .card-activity .act3 {

        width: 320px;
        height: 145px;
        object-position: top;
    }

    .card-activity .act4 {

        width: 320px;
        height: 140px;
        object-position: top;
    }

    .card-activity .act5 {

        width: 320px;
        height: 140px;
        object-position: top;
    }

    .card-activity .act6 {

        width: 320px;
        height: 145px;
        object-position: top;
    }
}


@media all and (min-width: 375px) and (max-width: 767px) {

    #footerbox {

        width: auto;
        flex-direction: column;
    }

    #footerbox section {

        margin-left: 17.5px;
        padding-left: 10px;
    }
}













