/* ALL */

body a
{
    text-decoration: none;
    color: black;

}

/* HEADER */
#headerbox 
{
    text-decoration: none;
    color: black;
    font-weight: normal;
}

#headerbox nav 
{ 
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 100px;
}

#headerbox li 
{
    display: inline-flex;
    align-items: center;
    height: 70px;
    padding: 5px;
    margin: 30px;
    margin-top: -14px;
}

#headerbox img 
{   
    position: absolute;
    left: 10px;
    top: 50px;
    color: #0065fc;
}

#headerbox nav li:hover 
{
    border-top: solid 2px #0065fc;
    padding-top: 0px;
}

#headerbox nav a:hover
{
    color: #0065fc;
}

li span
{
    color: #0065fc;
}

/* TITRE */

#title 
{
    margin-top: -2px;
}

h1
{
    font-size: 45px;
    
}

#title p 
{
    margin-top: -15px;
}

/* SECTION RECHERCHE */

#searchbr
{
    display: inline-block;
    align-items: center;
    width: 100%;
}

.searchbar
{
    display: flex;
    height: 50px;
    
} 

.searchbar .searchbtn
{
    width: 140px;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-style: none;
    background-color: #0065fc;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.searchbar .fa-search
{
   visibility: hidden;
}

.searchbar .search
{
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    width: 250px;
    height: 48px;
}

.searchbar .fa-map-marker-alt 
{
    width: 30px;
    padding-left: 15px;
    padding-top: 18px;
    background-color: #F2F2F2;
    order: -2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}


/* SECTION FILTERS */

#filters
{
    
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 35px;
    
}
#filters h3
{
    margin-right: 20px;
}

#filters .texticon
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

#filters .txtfilters
{
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

#filters i
{
    margin-left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebef;
}


/* INFO ICON */

#info
{
    background-color: tomato;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#info .icon
{
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;   
}
#info .fa-info
{
    color: #0065FC;
    margin-left: 8px;
    margin-bottom: 2px;
}

/* CONTENEUR SECTTION HEBERGEMENTS */

#lodging
{
    width: 100%;
    height: 700px;
    display: flex;
    align-content: space-between;
}


/* SECTION HEBERGEMENTS */

#lodgingbloc
{
    width: 80%;
    height: auto;
    background-color: #F2F2F2;
}

.card
{
    width: 250px;  
    float: left;
    margin: 15px;
    border: 1px solid #F2F2F2;
    padding: 8px;
    background-color: white;
    box-shadow: 1px 1px #ccc;
    border-radius: 15px;
}

.card img
{
    width: 250px;
    height: 115px;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.zonetext
{
    margin-left: 7px;
}

.stars
{
    color: #ccc;
}

.checked
{
    color: #0065FC;
}

/* SECTION MOST POPULAR */

#mostpopular
{
    background-color: #F2F2F2;
    height: auto;
}

.mpcard
{
    width: 350px;
    height: 150px;
    margin: 15px;
    padding: 5px;
    border-radius: 20px; 
    background-color: white;   
}

.mpcard img
{
    float: left;
    width: 150px;
    height: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

#mostpopular .zonetext
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 130px;
    margin-left: 7px;
    border: none;
    
}



/* SECTION ACTIVITES */

#activities
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 5px;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pictures
{
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    box-shadow: 2px 2px #F2F2F2;
}

#act1 img
{
    width: 300px;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act2 img
{
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act3 img
{
    width: 300px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act4 img
{
    width: 300px;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act5 img
{
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act6 img
{
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

/* FOOTER */

#footerbox
{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 30px;
    width: 100%;
    text-align: left;
    align-items: center;
    border: 1px solid black;
    background-color: #F2F2F2;
}
#footerbox section
{   
    width: 80%;
    margin-left: 10px; 
}
#footerbox ul
{
    width: 250px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}



