/* ALL */

body {

    font-family: 'Raleway', sans-serif;
    margin: 0;
}

#bloc-page {

    width: 98%;
    margin: auto;
}

a {

    text-decoration: none;
    color: black;
}

.stars, .most-popular-stars {

    color: #ccc;
}

.checked {

    color: #0065FC;
}

/* HEADER */

#header-box {

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

.logo {

    flex-grow: 1;
}

.logo img {

    padding-top: 48px;
}

#header-box nav ul {

    margin: 0 auto;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 315px;
    list-style-type: none;
    font-weight: 600;
}

#header-box nav ul li a {

    display: block;
    padding: 48px 0;
    border-top: 2px solid white;
}

#header-box nav li a:hover {

    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#header-box .sign-in {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    font-weight: 600;
}

.sign-in span {

    color: #0065FC;
}

.sign-in span:hover {

    color: black;
}

/* TITRE */

#title {
    
    font-weight: 800;
    line-height: 0.5em;
}

#title p {

    font-weight: 500;
}

/* SECTION RECHERCHE */

#search-br {

    display: inline-block;
    align-items: center;
    width: 100%;
    height: 50px;
}

.search-bar {

    display: flex;
    height: 50px;  
} 

 .search-button {

    width: 150px;
    display: flex;
    justify-content: center;
    margin-left: -6px;
    padding-top: 11px;
    font-size: 20px;
    font-weight: 600;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-style: none;
    color: white;
    background-color: #0065FC; 
    cursor: pointer;
}

.search-bar .fa-search {

    display: none;
    font-size: 20px;
 }

.search {

    height: 45px;
    border: 2px solid #F2F2F2;
}

.search-bar .search {

    width: 235px;
    margin: 0;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
}

.search-button:hover {

    color: #0065FC;
    background-color: #deebef;
    border: 1px solid #0065FC;
}

.fa-map-marker-alt {

    padding: 16.5px 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    order: -2;
}

/* SECTION FILTERS */

#filters {

    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;  
}

#filters h3 {

    font-weight: 700;
    margin-right: 30px;
}

#filters .text-icons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin-right: 30px;
    font-weight: 900;
}

#filters .text-icons:hover {

    background-color: #deebef;
    cursor: pointer;
}

#filters .text-icons:hover > i {

    color: white;
    background-color: #0065FC;
}

#filters .text-filters {

    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

#filters i {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #0065fc;
    background-color: #deebef;
}

/* INFO ICON */

#info {

    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#info .icon {

    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 10px;   
}

#info .fa-info {

    color: #0065FC;
    margin-left: 8px;
    margin-bottom: 2px;
}

/* CONTENEUR SECTTION HEBERGEMENTS */

#lodging {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 720px;
}

/* SECTION HEBERGEMENTS */

#lodging-bloc {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-radius: 25px;
}

#lodging-bloc h2 {
    
    height: 30px;
    margin: 35px 0px 0px 30px;
    font-weight: 900;
    
}

.marseille-bloc {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}

.card {

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 260px;
    height: 220px;  
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 1em #ccc;
}

.card:hover {

    box-shadow: none;
    transform: scale(1.1);
    transition: 0.5s;
}

.img-card {

    width: 250px;
    height: 120px;
}

.img-card img {

    width: 250px;
    height: 120px;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.card .zone-text {

    margin: 5px;
    padding-left: 10px;
}

.card .zone-text .name-hotel h3 {  

    margin: 0;
    margin-top: 2px;
}

.card .zone-text .txt p {  

    margin-top: 3px;  
}

.card .zone-text .stars {

    margin-top: -10px;
}

.name-hotel, .price {

    font-weight: 700;
    padding-top: 10px;
}

.more {

    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

.more:hover {

    color: #0065FC;
}

/* SECTION MOST POPULAR */

#most-popular {

    width: 70%;
    height: 720px;
    margin-left: 30px;
    border-radius: 25px;
    background-color: #F2F2F2;    
}

.bloc-popular {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 720px;
    margin-top: 40px;
    
}

.title {

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 0;
}

.title h2 {

    margin-top: 65px;
    margin-bottom: 0;
    margin-left: 30px;
    font-weight: 900;
}

.title i {

    margin-top: 60px;
    margin-right: 30px;
    font-size: 1.50em;
}

.full-card {

    width: 380px;
    height: 150px;
    margin: 15px;
    border-radius: 25px;
    box-shadow: 0 0 1em #ccc;
    background-color: white;
}

.full-card:hover {

    box-shadow: none;
    transform: scale(1.1);
    transition: 0.4s;
}

.card-img img {

    float: left;
    width: 150px;
    height: 140px;
    padding: 5px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    object-fit: cover;
}

.card-body {

    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    line-height: 0;
}

.hotel-name {

    margin-top: 0px;
    padding-top: 10px;
    line-height: 1em;
}

.hotel-name h3 {

	margin-bottom: 0;
    margin-top: 0;
    padding-left: 25px;
    line-height: 1.2em;
    font-weight: 700;
}

.text {

    padding-left: 25px;
}

.most-popular-stars {

    margin-top: 40px;
    padding-left: 25px;   
}

/* SECTION ACTIVITES */

.activities-title {

    margin-top: 80px;
    font-weight: 800;
}

#activities {

    margin-bottom: 60px;
}

.bloc-activities {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 460px;
}

.card-activity h3 {
    padding: 20px 20px;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.card-activity {
    
    border-radius: 20px;
    box-shadow: 0px 0px 13px 0px #ccc;
}

.card-activity:hover {

    box-shadow: none;
    color: #0065FC;
}

.act1 {

    height: 402px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activity .act1 {

    width: 300px; 
    object-fit: cover;
}

.act2 {

    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activity .act2 {

    width: 300px;
    object-fit: cover;
}

.act3 {

    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activity .act3 {

    width: 300px;
    object-fit: cover;
}

.act4 {

    height: 402px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activity .act4 {

    width: 300px;
    object-fit: cover;
}

.act5 {

    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activity .act5 {

    width: 300px;
    object-fit: cover;
}

.act6 {

    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-activity .act6 {

    width: 300px;
    object-fit: cover;
}

/* FOOTER */

#footer-box {

    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    width: 100%;
    text-align: left;
    background-color: #F2F2F2;
}

#footer-box section {

    display: flex;
    flex-direction: column;   
    width: 450px;
    margin-top: 30px;
    padding-left: 30px;
}

#footer-box ul {

    width: 250px;
    margin: 0;
    padding: 0;
    line-height: 2em;
    list-style-type: none;
}

#footer-box  a:hover {

    color: #0065FC;
    text-decoration: underline;
}



