body
{
    font-family: 'Raleway', sans-serif;
}

/* HEADER */
#headerbox a
{
    text-decoration: none;
    color: black;
    font-weight: normal;
}

#headerbox nav 
{ 
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 100px;
}

#headerbox li 
{
    display: inline-flex;
    align-items: center;
    height: 70px;
    padding: 5px;
    margin: 30px;
    margin-top: -14px;
}

#headerbox img 
{   
    position: absolute;
    left: 10px;
    top: 50px;
    color: #0065fc;
}

#headerbox nav li:hover 
{
    border-top: solid 2px #0065fc;
    padding-top: 0px;
}

#headerbox nav a:hover
{
    color: #0065fc;
}

li span
{
    color: #0065fc;
}

/* TITRE */

#title 
{
    margin-top: -2px;
}

h1
{
    font-size: 45px;
    font-weight: bold;
}

#title p 
{
    margin-top: -15px;
}

/* SECTION RECHERCHE */

#searchbr
{
    display: inline-block;
    align-items: center;
    width: 100%;
}

.searchbar
{
    display: flex;
    height: 50px;
    
} 

.searchbar .searchbtn
{
    width: 140px;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-style: none;
    background-color: #0065fc;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.searchbar .fa-search
{
   visibility: hidden;
}

.searchbar .search
{
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    width: 250px;
    height: 48px;
}

.searchbar .fa-map-marker-alt 
{
    width: 30px;
    padding-left: 15px;
    padding-top: 18px;
    background-color: #F2F2F2;
    order: -2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}


/* SECTION FILTERS */

#filters
{
    display: flex;
    align-items: center;
    background-color: cadetblue;
    width: 100%;
    font-size: 25px;
    margin-top: 30px;    
}

#filters .icon
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center ;
    font-size: 15px;
    border-radius: 10px 10px 10px 10px;
    background-color: #deebff;
    color: #0065FC;
    margin-right: 5px;
}
#filters button
{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    padding-left: 5px;
    background-color: white;
    border: 1px solid red;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#filters .icon:hover
{
    color: darkblue;
}

/* INFO ICON */

#info
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#info .icon
{
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;   
}
#info .fa-info
{
    color: #0065FC;
    margin-left: 8px;
    margin-bottom: 2px;
}


/* SECTION HEBERGEMENTS */

#lodging a
{
    color: black;
}
.lodgingbloc
{
    width: 70%;
    height: 700px;
    background-color: #F2F2F2;
}
.card
{
    width: 250px;  
    float: left;
    margin: 10px;
    border: 1px solid #F2F2F2;
    padding: 8px;
    background-color: white;
    box-shadow: 4px 4px #F2F2F2;
    border-radius: 15px;
}
.card img
{
    width: 250px;
    height: 150px;
    background-color: #F2F2F2;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.zonetext
{
    margin-left: 7px;
    
}
.checked 
{
    color: #0065FC;
}
.stars
{
    color: #F2F2F2;
}

.blc_popular
{ 
    width: 20%;
    height: 1000px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column; 
    background-color: sandybrown;
}


/* SECTION ACTIVITES */

#activities a, h3
{
    color: black;
    text-decoration: none;
}

#activities h3
{
    
    padding-left: 10px;
}

#activities 
{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 800px;
    border: 2px solid black;
}
.fullcard
{
    margin: 10px;   
}
.pictures 
{
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    margin: 0;
    border: royalblue solid 2px;
}
#act1 img
{
    width: 300px;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act2 img
{
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act3 img
{
    width: 300px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act4 img
{
    width: 300px;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act5 img
{
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
#act6 img
{
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

/* FOOTER */

#footerbox
{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 30px;
    width: 100%;
    text-align: left;
    align-items: center;
    border: 1px solid black;
    background-color: #F2F2F2;
}
#footerbox section
{   
    width: 80%;
    margin-left: 10px; 
}
#footerbox ul
{
    width: 250px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}



