@media all and (max-width: 1440px) {

    #bloc-page {

        width: auto;
        margin: 0px 15px;
    }

    #header-box img {

        margin-left: 10px;
    }

    /* TITRE */

    #title {

        width: auto;
        margin-left: 10px;  
    }

    /* SECTION DE RECHERCHE */

    .search-bar {

        margin-left: 5px;
    }

    /* SECTION FILTRES */

    #filters {

        width: auto;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
        margin-top: 15px;
    }

    #filters .text-icons {

        width: 450px;
        height: 47px;
        margin-bottom: 15px;
        justify-content: flex-start;
        border: 2px solid #ccc;
    }

    #filters i {

        margin-left: -2px;
    }

    #info {

        width: auto;
        margin-left: 10px;
    }

    #info .icon {

        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
    }

    #info .fa-info {

        margin-left: 10px;
    }

    #info p {

        margin-top: 10px;
        margin-bottom: 10px; 
    }

    /* SECTION HEBERGEMENT */

    #lodging {

        width: auto; 
        height: auto;
        display: flex;
        flex-direction: column;
    }

    /* SECTION HEBERGEMENTS A MARSEILLE */

    #lodging-bloc {

        background: none;
        width: auto;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    #lodging-bloc h2 {

        margin-top: 25px;
        margin-left: 10px;
        font-size: 22px;
        height: max-content;
    }

    .marseille-bloc {

        background: none;
        margin-top: 10px;
    }

    .card {

        margin-top: 15px;
        margin-bottom: 10px;
        width: 350px;
    }

    .img-card img {

        width: 340px;
        object-fit: cover;
    }

    .more {

        margin-left: 10px;
    }

    /* SECTION HEBERGEMENT LES PLUS POPULAIRES */

    #most-popular {

        background-color: #f2f2f2;
        width: auto;
        height: 450px;
        margin-left: 0;
        order: -1;
        border-radius: 0;
    }

    .bloc-popular {

        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .title {

        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title h2 {

        font-size: 22px;
        margin-left: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .title i {

        margin-right: 15px;
        margin-top: 0px;  
        font-size: 22px;  
    }

    .full-card {

        width: 350px;
        margin: 15px 10px 5px 10px;
    }

    .card-body {

        width: auto;
    }

    .card-img img {

        width: 120px;
    }

    .hotel-name h3 {

        padding-left: 13px;
    }

    .text {

        padding-left: 13px;
    }

    .most-popular-stars {

        padding-left: 13px;
        margin-top: 30px;
    }

    /* ACTIVITES A MARSEILLE */

    #activities {
        
        width: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .activities-title {

        margin-bottom: 30px;
        margin-left: 10px;
        font-size: 20px;
    }

    .bloc-activities {
                
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .card-activity {

        width: 350px;
        margin: 15px 10px 15px 10px;
    }

    .card-activity .act1 {

        width: 350px;
        height: 150px;
        object-fit: cover;
    }

    .card-activity .act2 {

        width: 350px;
        height: 150px;
        object-fit: cover;
    }

    .card-activity .act3 {

        width: 350px;
        height: 150px;
        object-fit: cover;
    }

    .card-activity .act4 {

        width: 350px;
        height: 150px;
        object-fit: cover;
    }

    .card-activity .act5 {

        width: 350px;
        height: 150px;
        object-fit: cover;
    }

    .card-activity .act6 {

        width: 350px;
        height: 150px;
        object-fit: cover;
    }

    /* FOOTER */

    #footer-box {

        width: auto;
        justify-content: space-between;
        background: #f2f2f2;
    }

    #footer-box section {

        padding-left: 23px;
        margin-top: 0;
        width: auto;
    }

    #footer-box ul {

        width: 230px;
    }

    #footer-box h3 {

        font-size: 18px;
        width: auto;
    }
}